<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <i class="fa fa-user-times"></i>&nbsp;No Autorizado
    </h1>
</section>

<!-- Main content -->
<section class="content">
    
</section>