<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="IMAC_sys"
           connectionString="Data Source=imac.binamia.com.ar;Initial Catalog=IMAC_DEV;Persist Security Info=True;User ID=imac_dev;Password=iM4c-D3v"
           providerName="System.Data.SqlClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="IMAC_usuarios"
           connectionString="Data Source=imac.binamia.com.ar;Initial Catalog=IMAC_usuariosDEV;Persist Security Info=True;User ID=imac_dev;Password=iM4c-D3v"
           providerName="System.Data.SqlClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <appSettings>
      <add key="WebUrl" value="http://imac.binamia.com.ar" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="SystemPath" value="D:/Hosting/IMAC/webapp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="SendAllToSupport" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="AllowDomains" value="http://imac.binamia.com.ar" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="showUTIUCO" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>