<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
    <add key="siteUrl" value="http://imac.dev1.binamia.com.ar/"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="isDev" value="true"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="showProfilePicture" value="false"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    
    <add key="urlApi" value="http://imac.dev1.api.binamia.com.ar"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="cookieName" value="imac_auth_dev_session"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
  <system.web>
  </system.web>
</configuration>